<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <th:block th:replace="/fragments/head"></th:block>
    <link rel="stylesheet" href="/static/css/notice.css">
    <link rel="stylesheet" href="/static/css/notice-list.css">

</head>
<body>
    <th:block th:replace="/fragments/header"></th:block>
    <main>
        <div class="notice-header">
            <h1 class="menu-title">공지사항</h1>
            <div class="notice-search">
                <select class="search-select">
                    <option value="title">제목</option>
                    <option value="titleAndContent">제목+내용</option>
                    <option value="writer">작성자</option>
                </select>
                <input type="text" class="search-input">
                <button type="button" class="search-button">검색</button>
            </div>
        </div>
        <article>
            <table class="notice-list">
            	<thead>
	                <tr class="notice-row-header">
	                    <th>번호</th>
	                    <th>제목</th>
	                    <th>작성자</th>
	                    <th>작성일</th>
	                    <th>조회수</th>
	                </tr>
	            </thead>
	            <tbody>
	            	<tr class="notice-row">
	                    <td>1</td>
	                    <td>spring boot notice 수업</td>
	                    <td>wonyoung</td>
	                    <td>2022-08-17</td>
	                    <td>10</td>
	                </tr>
	            </tbody>
            </table>
        </article>
        <div class="list-footer">
	        <div class="page-buttons">
	            <button type="button" class="page-button">&lt;</button>
	            <button type="button" class="page-button">1</button>
	            <button type="button" class="page-button">2</button>
	            <button type="button" class="page-button">3</button>
	            <button type="button" class="page-button">4</button>
	            <button type="button" class="page-button">5</button>
	            <button type="button" class="page-button">&gt;</button>
	        </div>
        </div>
    </main>
    <script type="text/javascript" src="/static/js/notice/notice-list.js"></script>
</body>
</html>