<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 작성</title>
    <th:block th:replace="/fragments/head"></th:block>
    <link rel="stylesheet" href="/static/css/notice.css">
    <link rel="stylesheet" href="/static/css/notice-insert.css">

    <script src="/static/js/service/HuskyEZCreator.js" charset="utf-8"></script>
</head>
<body>
    <th:block th:replace="/fragments/header"></th:block>
    <main>
        <div class="notice-header">
            <h1 class="menu-title">새로운 글 작성</h1>
            
        </div>
        <article>
            <form enctype="multipart/form-data">
                <table class="notice-list">
                    <tr class="notice-row">
                        <th>제목</th>
                        <td><input type="text" class="notice-title" name="noticeTitle"></td>
                    </tr>
                    <tr class="notice-row">
                        <td colspan="2">
                            <input type="file" class="notice-file" name="file" multiple="multiple" accept=".jpg, .jpeg, .png, .gif">
                        </td>
                    </tr>
                    <tr class="notice-row">
                        <td colspan="2">
                            <textarea name="ir1" id="ir1" style="width: 100%; height: 500px;"></textarea>
                        </td>
                    </tr>
                    <tr class="notice-row">
                        <td colspan="2">
                            <div class="notice-submit">
                                <button type="button" class="notice-button submit">작성하기</button>
                                <button type="button" class="notice-button cancel">취소하기</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </article>
        
    </main>
    <script type="text/javascript" src="/static/js/notice/notice-insert.js"></script>
</body>
</html>