<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제목</title>
    <th:block th:replace="/fragments/head"></th:block>
    <link rel="stylesheet" href="/static/css/notice.css">
    <link rel="stylesheet" href="/static/css/notice-detail.css">
</head>
<body>
    <th:block th:replace="/fragments/header"></th:block>
    <main>
        <article>
            <section class="notice-detail-header">
                <h1 class="notice-detail-title">스프링 부트 공지사항 게시글 테스트</h1>
                <div class="notice-detail-description">
                    <h3>작성자: junil</h3>
                    <h3>작성일: 2022-08-19 19:17:00</h3>
                    <h3>조회수: 10000</h3>
                </div>
            </section>
            <section class="notice-content">
                <p><span style="background-color: rgb(255, 0, 0); color: rgb(255, 255, 255); font-size: 18pt;">스프링 부트 게시글 테스트입니다.</span></p><p><span style="color: rgb(0, 158, 37); font-size: 14pt;">네이버</span> <b>스마트 에디터</b> 사용하기.</p><p><br></p>
            </section>
            <section class="notice-file">
                <h3>첨부파일:</h3>
                <a href="#">aaaa.jpg</a> / <a href="#">aaaa.jpg</a> / <a href="#">aaaa.jpg</a>

            </section>
            <div class="detail-buttons">
                <div class="page-buttons">
                    <button type="button" class="detail-button pre">이전</button>
                    <button type="button" class="detail-button next">다음</button>
                </div>
                <div>
                    <button type="button" class="detail-button modify">수정</button>
                    <button type="button" class="detail-button delete">삭제</button>
                    <button type="button" class="detail-button list">목록</button>
                </div>
            </div>
        </article>
        
    </main>
    <script type="text/javascript" src="/static/js/notice/notice-detail.js"></script>
</body>
</html>