.notice-row {
    border: 1px solid #dbdbdb;

    cursor: default;
}

.notice-row td {
    border: 1px solid #dbdbdb;
    padding: 10px;
}

.notice-row td, .notice-row th {
    font-weight: 600;
}

.notice-title {
    border: none;
    outline: none;
    background-color: #fafafa;

    padding: 10px;

    width: 100%;
    height: 20px;
}

.notice-submit {
    display: flex;
    justify-content: center;
}

.notice-button {
    margin: 0px 5px;

    border: 1px solid #141414;
    width: 80px;
    height: 40px;
    
    background-color: white;

    font-weight: 600;
}

.notice-button:active {
    background-color: #fafafa;
}